@mixin box-sizing {
	width: 750upx;
	padding: 0 30upx;
	box-sizing: border-box;
}

@mixin display-flex {
	display:flex;
	justify-content: space-between;
}

page {
	height: 100%;
	background: #fff;
}

.content{
	
}
.preference{
	background-color: #f3f3f3;
		
		padding-top: 20upx;
			box-sizing: border-box;
}
._infoFill {
	height: 100uox;
	line-height: 100upx;
	padding: 0 30upx;
	box-sizing: border-box;
	@include display_flex;
	background-color: #fff;
	font-size:28upx;
	font-weight: 600;
	color:rgb(27,30,38);
	background-color: #fff;
	border-bottom: 2upx solid #eeeeee;
	input{
		line-height:60upx;
		text-align:right;
		font-size:28upx;
		margin-top:20upx;
	}
}
// 商品描述
.productdescription{
	padding:0 30upx;
	box-sizing:border-box;
	background-color: #fff;
	view:nth-child(1){
		height: 100upx;
		line-height: 100upx;
		font-size: 28upx;
		color: #333333;
		font-weight: 600;
	}
	view:nth-child(2){
		padding: 30upx;
		box-sizing: border-box;
		border: 2upx solid #ffbd38;
		textarea{
			color: #333333;
			font-size: 28upx;
			width: 100%;
		}
	}
}
// 价格
.price{
	font-weight: 600;
	line-height: 100upx;
	height: 100upx;
	background-color: #fff;
	padding: 0 30upx;
	display: flex;
	font-size: 28upx;
	border-bottom: 2upx solid #eeeeee;
	view:nth-child(2){
		margin-left: 30upx;
		input{
			margin-top: 24upx;
			color: #333333;
			}
			.iconfont{
				text-align: right;
			}
	}
}
// 交易方式
.meansexchange{
	
	padding-top: 20upx;
	
	.means{
		height: 100upx;
		line-height: 100upx;
		padding: 0 30upx;
		box-sizing: border-box;
		background-color: #fff;
		font-size: 28upx;
		font-weight: 600;
		display:flex;
		justify-content: space-between;
		border-bottom: 2upx solid #eeeeee;
		.deals{
			width: 66%;
			display: flex;
			margin-top: 24upx;
			justify-content: space-between;
			height: 60upx;
			line-height: 60upx;
			.deal{
				
				position: relative;
				
				color: #333333;
				padding: 0upx 30upx;
				box-sizing: border-box;
				border-radius: 10upx;
			
				.iconfont{
					position: absolute;
					right: -4upx;
					top: -24upx;
					color: transparent;
				}
				
			}
			.changedeal{
				background-color: #fff2d7;
				.iconfonted{
					color: #ffbd38;
				}
			}
			
		}
	}
}
.newShoprental{
					background-color: #ffffff;
					
					font-size: 28upx;
					font-weight: 600;
					.publishNewshop{
						background-color: #fff;
						box-sizing: border-box;
						.titleBox2{
							display: flex;
						}
						.titleBox3{
							display: flex;
							justify-content: space-between;
						}
						.titleBox{
							padding:0 30upx;
							height: 100upx;
							line-height: 100upx;
							border-bottom: 2upx solid #eeeeee;
							font-size: 28upx;
							color: #333333;
							font-weight: 600;
							input{
								margin-left: 30upx;
								margin-top: 24upx;
								font-weight: 100;
								
							}
							
							
							}
					}
					
				}
				.ImgBox{
							display: flex;
							justify-content: space-between;
							.ImgBox2{
								width:31%;
								position: relative;
								img{
									width:100%;
									height: 160upx;
									border-radius: 10upx;
								}
								.iconfont{
									color: #ffbd38;
									font-size: 28upx;
									position: absolute;
									top: -12upx;
									right: -12upx;
								}
							}
							.addImg{
								width: 31%;
								height: 160upx;
								border: 2upx solid #eeeeee;
								text-align: center;
								line-height: 160upx;
								border-radius: 10upx;
								.iconfont{
									font-size: 60upx;
									font-weight: 100;
								}
							}
						}
						.picturepresentation{
							background-color: #fff;
							padding: 30upx;
							padding-top: 0;
							block-size:border-box;
							.title{
								font-size: 28upx;
								height: 100upx;
								line-height: 100upx;
								font-weight: 600;
							}
						}