.setShop{
	width: 750upx;
	background-color: #f3f3f3;
	padding-top: 20upx;
	.partnership-top{
		background-color: #fff;
		padding:0 30upx;
		
		box-sizing: border-box;
	
		.title{
			display: flex;
			height: 100upx;
			line-height: 100upx;
				border-bottom: 2upx solid #f7f7f7;
			view{
				text{
					font-size: 28upx;
					font-weight: 600;
					color: #333333;
				}
				
				
			}
			.inputBox3 {
			
					padding-right: 24upx;
				
			}
			.inputBox{
				width: 80%;
				
				input{
					margin-top: 28upx;
					font-size: 28upx;
					margin-left: 40upx;
					flex: 1;
					color: #b4b4b4;
					.input-placeholde{
						color: #acacac !important;
					}
				}
			}
			.inputBox2{
				font-size: 28upx;
				color: #b4b4b4;text-align: right;
			}
		}
		.ImgBox{
			display: flex;
			justify-content: space-between;
			.ImgBox2{
				width:31%;
				position: relative;
				img{
					width:100%;
					height: 160upx;
					border-radius: 10upx;
				}
				.iconfont{
					color: #ffbd38;
					font-size: 28upx;
					position: absolute;
					top: -12upx;
					right: -12upx;
				}
			}
			.addImg{
				width: 31%;
				height: 160upx;
				border: 2upx solid #eeeeee;
				text-align: center;
				line-height: 160upx;
				border-radius: 10upx;
				.iconfont{
					font-size: 60upx;
				}
			}
		}
		.title2{
			border-bottom: 0;
			display: flex;
			justify-content: space-between;
			.inputBox{
				width: 80%;
				display: flex;justify-content: flex-end;
				input{
					text-align: right;
					flex: 1;
					font-weight: 600;
					font-size: 28upx;
					color: #333333;
				}
			}
			
		}
	}
	
}
//合伙人需求
.demand{
	width: 100%;
	min-height: 200upx;
	border: 2upx solid #ffbd38;
	padding: 20upx;
	box-sizing: border-box;
	textarea{
		width: 100%;
		font-size: 28upx;
		color:rgb(180, 180, 180);
	}
	}
	.peitao_r {
  display: inline-block;
  width:100%;
  margin: 0 auto 30upx;
}
.choose {
  min-height: 100upx;
}
.nav-list {
  margin-top: 10upx;
 
 
}
.nav-list .navigator {
  display: inline-block;
  height: 100upx;
  width: 20%;
  text-align: center;
  margin-top: 20upx;
}

.nav-list>view {
  display: inline-block;
  font-size: 30upx;
  width: 90upx;
  height: 90upx;
  line-height: 30upx;
  text-align: center;
}

.nav-list image {
  margin: 10upx auto 20upx;
  width: 46upx;
  height: 46upx;
  display: block;
}

.nav-list text {
	width: 100%;
  font-size: 26upx;
  color: #000;
}

#JQQD_text {
  color: #c8c8c8;
}

.paddingTop {
  padding-top: 10upx;
}

.beizhu {
  max-width: 446upx;
  height: 170upx;
}

checkbox[hidden] {
  display: none !important;
}