.commentImg{
		width: 100%;
		display: flex;
		align-items: center;

	img{
		margin:21px auto 8px;
		width: 140upx;
		height: 132upx;
	}	
	}
	.commentBox{
		margin-bottom: 120upx;
		
	}
	.commentText{
		text-align: center;
		font-size: 12px;
		color:#999999;
	}