.textHidden {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.history {
	width: 750upx;
	padding: 0 30upx;
	box-sizing: border-box;
}

.history_title {
	line-height: 60upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #333333;
	font-weight: 600;
}

.history_title text {
	display: inline-block;
	vertical-align: middle;
	color: #333333;
	font-weight: 600;
	font-size: 28upx;
}

.history_title text:last-child {
	font-size: 30upx;
}

.history_content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 40upx;
}

.history_cell {
	margin-bottom: 20upx;
	
	padding: 10upx 20upx;
	text-align: center;
	font-size: 24upx;
	
	box-sizing: border-box;
	background: #eeeeee;
	border-radius: 40upx;
	margin-right: 10upx;
	color: #333333;
}

.history_null {
	
	
	box-sizing: border-box;
	img{
		width: 100%;
		height: 1040upx;
	}
}

.history_null view:first-child {
	font-size: 200upx;
	color: #eeeeee;
}

.history_null view:last-child {
	font-size: 32upx;
	color: #999999;
	margin-top: 20upx;
}

.exploreFind{
	._title{
		
	}
}
.search{
	height: 100upx;
	padding: 20upx 30upx;
	padding-bottom: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	.searchBox{
		display: flex;
		height: 60upx;
		border: 2upx solid #a0a0a0;
		border-radius: 50upx;
		width: 87%;
		justify-content: space-between;
		input{
			font-size: 24upx;
			margin-left: 40upx;
			margin-top: 5upx;
			color: #969799;
			width: 80%;
		}
		.searciconfont{
			font-size: 28upx;
			font-weight: 600;
			color: #333333;
			
			.iconfont{
				display: inline-block;
				margin-top: 10upx;
				padding: 4upx 20upx;
				border-left:2upx solid #a0a0a0;
			}
			
		}
	}
	.cancel{
		font-size: 28upx;
		color: #333333;
		font-weight: 600;
		line-height: 60upx;
	}
}
.seekContent{
	padding: 20upx 30upx;
	font-size: 28upx;
	color: #333333;
	font-weight: 600;
	text{
		padding-left: 15upx;
	}
}