.ImgBox{
	width:300upx;
	height:290upx;
	
}
img{
	width:300upx;
height:290upx;
}
.box0{
	width: 750upx;
	display: flex;
	justify-content: space-around;
	align-items: center;
		height: 800upx;
}
.Imgtitle{
		font-size:32upx;
		text-align:center;
		color:#ccc;
		margin-top: 50upx;

}