.top_tab {
	width: 750upx;
	box-sizing: border-box;
	padding: 0 30upx;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 94upx;

}

.lineCss {
	width: 2upx;
	height: 44upx;
	background: #999;
}

.tab_child {
	width: 140upx;
	line-height: 88upx;
	text-align: center;
	color: 666;
}

$bg_f5: #f5f5f5;
$bg_eee9e9: #eee9e9;
$color_666: #666;
$fontSize_28: 28upx;
$fontSize_24: 24upx;
$fontSize_20: 20upx;
$borderRadius_50: 50%;

@mixin overflow_Es {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// topTabBar
.top_tab {
	background: $bg_f5;

	.tab_child_hover {
		background: $bg_eee9e9;
		border-bottom: 6upx solid #3285ff;
	}
}

// 用户列表
.userList {
	width: 750upx;
	box-sizing: border-box;
	padding: 0 30upx 30upx;

	.user_cell {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30upx;
		background: $bg_f5;

		.userCell_L,
		.userCell_L image {
			width: 100upx;
			height: 100upx;
			font-size: 0;
			border-radius: $borderRadius_50;
			background: #eee9e9;
		}

		.userCell_C {
			margin-left: 20upx;
			width: 470upx;
			line-height: 50upx;

			.userCell_C_title {
				max-width: 470upx;
				color: $color_666;
				font-size: $fontSize_28;
			}

			.userCell_C_company {
				font-size: $fontSize_24;
				color: $color_666;

				text {
					display: inline-block;
					vertical-align: middle;
				}

				.user_company {
					max-width: 400upx;
					margin-right: 10upx;
					@include overflow_Es;
				}
				.user_company_rz{
					color: #ff8100;
				}
			}
		}

		.userCell_R {
			width: 110upx;
			font-size: $fontSize_20;
			color: $color_666;
			text-align: center;
			line-height: 50upx;
			view{
				width: 100upx;
				border-radius: 8upx;
				background: #EEE9E9;
			}
		}
	}
}
