.LogoBox{
	height: 450upx;
	width: 100%;
	background-color: #f9f7f8;
	display: flex;
	justify-content: space-around;
	
}
.LogoBox img{
	width: 100%;
	height: 100%;
}
.titles{
		font-size: 24upx;
		line-height: 2;
		color: #bcbcbc;
		text-align: center;
	}
.Imgbox{
	width:190upx;
	height:190upx;
	margin-top: 80upx;
}
	.connent{
		height: 100upx;
		width: 750upx;
		padding: 0 30upx;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		font-size: 24upx;
		line-height: 100upx;
		border-bottom: 2upx solid  #eeeeee;
		color: #333333;
		font-weight: 600;
	}

	.versions{
		color: #757575;
		font-weight: 100;
	}
