// 顶部选项卡

page{
	background-color:#eeeeee;
}
.top_tab {

	width: 750upx;
	height: 100upx;
	background: #fff;
	
	z-index: 99;
	border-bottom: 2upx solid #eee;
	
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 30upx;
	margin-top: 20upx;
	border-radius:20upx 20upx 0 0; 
	box-sizing: border-box;
	._tab {
		
		margin-right: 40upx;
	
		> ._top {
			line-height: 100upx;
			font-weight: 600;
			font-size: 28upx;
			color: #333;
			letter-spacing: 2upx;
			text-align: center;
		}
		
		> ._topColor {
			transition: .5s;
			// color: #3285ff;
		}
		> ._lineCss {
			transition: .5s;
			// width: 68upx !important;
			background: #3285ff !important;
		}
	}
}

/* 开店知识 */
.openStory {
	padding: {
		
	}
	background: #fff;
// 	.openStory_cell {
// 		// width: 750upx;
// 		box-sizing: border-box;
// 		padding: 30upx 30upx 0;
// 		// border-bottom: 4upx solid #eee;
// 		position: relative;
// 		margin-bottom: 20upx;
// 	}
}

.osCell_title {
	width: 690upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	> .osCell_title_left,
	.osCell_title_left image {
		width: 80upx;
		height: 80upx;
		font-size: 0;
		background: #3285ff;
		border-radius: 50%;
	}
	> .osCell_title_right {
		width: 590upx;
		> ._name {
			font-size: 0;
			> text {
				display: inline-block;
				font-size: 34upx;
				color: #333;
				font-weight: bold;
			}
			> text:first-child {
				font-weight: normal;
			}
			> text:last-child {
				font-size: 28upx;
				color: #999;
				font-weight: normal;
			}
		}
		> ._company {
			font-size: 0;
			> text {
				font-size: 26upx;
				color: #666;
				display: inline-block;
				vertical-align: middle;
			}
			> ._L {
				max-width: 550upx;
				margin-right: 10upx;
			}
			> .iconfont {
				color: #fbbf13;
				font-size: 28upx;
			}
		}
	}
}

.osCell_content {
	font-size: 30upx;
	color: #333;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	letter-spacing: 2upx;
	padding-bottom: 10upx;
	line-height: 44upx;
}
.osCell_text{
	font-size:28upx;
	color:#2f2f2f;
	width:690upx;
	max-height:348upx;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 8;
	overflow: hidden;
}
.osCell_ImgAll,
.osCell_ImgAll image {
	width: 690upx;
	height: 280upx;
	font-size: 0;
	background: #eee9e9;
	border-radius: 4upx;
}
.osCell_ImgOrText {
	width: 690upx;
	height: 130upx;
	background: #f3f3f3;
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4upx;
	> ._logo {
		width: 220upx;
		height: 130upx;
		border-radius: 4upx;
		background: lightblue;
	}
	> ._text {
		width: 460upx;
		height: 130upx;
		color: #666;
		line-height: 42upx;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		font-size: 26upx;
		letter-spacing: 2upx;
	}
}

.osCell_bottom {
	width: 690upx;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0;
	> view {
		font-size: 24upx;
		color: #999;
		line-height: 80upx;
	}
	> .osCell_bottom_left {
		width: 200upx;
	}
	> .osCell_bottom_center {
		width: 300upx;
	}
	> .osCell_bottom_right {
		width: 190upx;
		text-align: right;
		> text {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
//选项卡
 .totop:after {
   width: 0;
   height: 0;
   content: '';
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-bottom: 5px solid black;
    position: relative;
  top: -26upx;
 left:16upx;
   
 }
 .tobott:after {
   width: 0px;
   height: 0px;
   content: '';
   border-top: 10upx solid black;
   border-left: 10upx solid transparent;
   border-bottom: 0upx solid transparent;
   border-right: 10upx solid transparent;
   position: relative;
    top: 24upx;
  left:16upx;
 }
 .topMask{
 	width: 750upx;
 	height: calc(100% - 88upx);
 	position: fixed;
 	top: 110upx;
 	left: 0;
 	z-index: 98;
 	._top{
 		margin-top: 88upx;
 		width: 750upx;
 		height: 500upx;
 		background: #fff;
 		._swiper,._swiper_item,._scroll{
 			height: 500upx;
 		}
 		._swiper_item{
 			overflow: hidden;
 			._scroll{
 				padding: 0 30upx;
 				box-sizing: border-box;
 				._scroll_cell{
 					border-bottom: 1px solid #eeeeee;
 					box-sizing: border-box;
 				
 					line-height: 80upx;
 					font-size: 28upx;
 					color: #666;
 				}
 				
 			}
 		}
 	}
 	._mask{
 		width: 750upx;
 		height: calc(100% - 500upx);
 		background: rgba(35,35,35,0.5);
 	}
 }
/* end */
.openStory {
	background: #fff;
	padding-bottom: 4upx;
	.openStory_title {
		width: 750upx;
		box-sizing: border-box;
		padding: 0upx 30upx;
		color: #010101;
		font-weight: 600;
		line-height: 80upx;
		
		font-size: 32upx;
		
	}
	.openStory_cell {
		width: 100%;
		box-sizing: border-box;
		padding: 30upx 30upx 0;
		// border: 2upx solid #eeeeee;
		// margin: 0 auto;
		// margin-bottom: 40upx;
		position: relative;
		border-radius: 10upx;
	}
}

.osCell_title {
	width: 690upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	> .osCell_title_left,
	.osCell_title_left image {
		width: 80upx;
		height: 80upx;
		font-size: 0;
		background: #3285ff;
		border-radius: 50%;
	}
	> .osCell_title_right {
		width: 590upx;
		> ._name {
			font-size: 0;
			> text {
				display: inline-block;
				font-size: 34upx;
				color: #333;
				font-weight: bold;
			}
			> text:first-child {
				font-weight: normal;
			}
			> text:last-child {
				font-size: 28upx;
				color: #999;
				font-weight: normal;
			}
		}
		> ._company {
			font-size: 0;
			> text {
				font-size: 26upx;
				color: #666;
				display: inline-block;
				vertical-align: middle;
			}
			> ._L {
				max-width: 550upx;
				margin-right: 10upx;
			}
			> .iconfont {
				color: #fbbf13;
				font-size: 28upx;
			}
		}
	}
}

.osCell_content {
	font-size: 30upx;
	color: #333;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	letter-spacing: 2upx;
	padding-bottom: 10upx;
	line-height: 44upx;
}
.osCell_ImgAll,
.osCell_ImgAll image {
	width: 690upx;
	height: 280upx;
	font-size: 0;
	background: #eee9e9;
	border-radius: 4upx;
}
.osCell_ImgOrText {
	width: 690upx;
	height: 130upx;
	background: #f3f3f3;
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4upx;
	> ._logo {
		width: 220upx;
		height: 130upx;
		border-radius: 4upx;
		background: lightblue;
	}
	> ._text {
		width: 460upx;
		height: 130upx;
		color: #666;
		line-height: 42upx;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		font-size: 26upx;
		letter-spacing: 2upx;
	}
}

.osCell_bottom {
	width: 690upx;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0;
	> view {
		font-size: 24upx;
		color: #999;
		line-height: 80upx;
	}
	> .osCell_bottom_left {
		width: 200upx;
	}
	> .osCell_bottom_center {
		width: 300upx;
	}
	> .osCell_bottom_right {
		width: 190upx;
		text-align: right;
		> text {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
/* end */
.openStory_cell-title{
	width: 80%;
	color: #151515;
	font-size: 30upx;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	font-weight: 600;
	padding: 20upx 0;
	box-sizing: border-box;
}
.typestitle{
	position: absolute;
		right: 30upx;
	color: white;
	font-size: 12px;
	background-color: #60bc74;
	padding: 5upx 30upx;
	top:50upx;
	border-radius:20upx  0px  0px 20upx;
}
.typestitle2{
	position: absolute;
		right: 30upx;
	color: white;
	font-size: 12px;
	background-color: #d85cfc;
	padding: 5upx 30upx;
	top:50upx;
	border-radius:20upx  0px  0px 20upx;
}
.typestitle3{
	position: absolute;
		right: 30upx;
	color: white;
	font-size: 12px;
	background-color: #5c6ffc;
	padding: 5upx 30upx;
	top:50upx;
	border-radius:20upx  0px  0px 20upx;
}
.typestitle4{
	position: absolute;
	right: 30upx;
	color: white;
	font-size: 12px;
	background-color: #34a5ec;
	padding: 5upx 30upx;
	top:50upx;
	border-radius:20upx  0px  0px 20upx;
}
.typestitle5{
	position: absolute;
		right: 30upx;
	color: white;
	font-size: 12px;
	background-color: #fcbe5c;
	padding: 5upx 30upx;
	top:50upx;
	border-radius:20upx  0px  0px 20upx;
}
.typestitle6{
	position: absolute;
	right: 30upx;
	color: white;
	font-size: 12px;
	background-color: #5c6ffc;
	padding: 5upx 30upx;
	top:50upx;
	border-radius:20upx  0px  0px 20upx;

}
.typestitle7{
	position: absolute;
		right: 30upx;
	color: white;
	font-size: 12px;
	background-color: #cf3648;
	padding: 5upx 30upx;
	top:50upx;
	border-radius:20upx  0px  0px 20upx;
}


.ImgBoxs{
	
	width: 100%;
	white-space: nowrap;
	margin-bottom: 20upx;
	 overflow-x: hidden; 
	
}
.ImgBoxs img{
	
	margin-right:20upx;
	 margin-top: 20upx;
	margin-bottom: 10upx;
	width: 200upx;
	height:150upx;
}
.userInfo{
	padding-top: 30upx;
	
}
.userInfoLeft{
		width:88upx;
	height:124upx;
	margin-right:14upx;
	margin-top:16upx;

}
.userInfoLeft img{
width:80upx;
height:80upx;
border-radius:50%
}
.userInfoList{
	display: flex;
}
.userInTop{
	width:516upx;
	display: flex;
	margin-top: 10upx;
	justify-content: space-between;
}
.userName{
	width: 60%;
	font-size: 15px;
	font-weight: 600;
	color: #686868;
}
.usertime{
	color:#999da0;
	font-size: 13px;
}
.userInfoCompy{
	margin-top: 10upx;
	font-size: 12px;
	color: #a4a4a4;
}
.usericonfont{
	padding-left: 10upx;
	color: #259bfe;
}
.infoBox{
	color:#636363;
	border-radius:0upx 20upx 20upx 40upx ;
	
	font-size: 14px;

	font-weight: 600;
}
.informationBox{
	text-align: right;
	
	
}
.informationBox{
	padding: 50upx 0;
	position: relative;
}
.informationBox text{
	font-size: 14px;
	color: #707070;
	font-weight: 600;
	padding: 20upx 15upx;
}
.informationBox .iconfonts{
	font-size: 20px;
	padding-right: 5upx;
	vertical-align: middle;
	font-weight: 400;
}
.informatio{
	display: flex;
	position: absolute;
	right: 0;
	top: 20upx;
}
.informatioLine{
	position: absolute;
	right: 96upx;
	height: 30upx;
	width: 1px;
	background: #dfdfdf;
	top: 34upx;
}
uni-swiper .uni-swiper-dot {
	width: 20px ;
}
.Line{
	height: 2upx;
	background-color: #eeeeee;
	width: 688upx;
	position: absolute;
	
	top: 120upx;
}
.LineBOX{
	height: 20upx;
	background-color: #eeeeee;
	width: 750upx;
	position: absolute;
	left: 0upx;
	bottom:-10upx;
}