.massageBox{
	// 消息盒子
	width: 750upx;
	background-color: #f3f3f3;
	padding-top: 20upx;
	.tab{
		background-color: #fff;
		box-shadow: 0 2px 3px -1px #e4e4e4;
		border-radius: 10upx 10upx 10upx 10upx;
		margin-bottom: 1px;
	}
	.massageList{
		background-color: #fff;
		padding: 30upx;
		box-sizing: border-box;
		
	}
}