.massageBox{
	// 消息盒子
	width: 750upx;
	background-color: #f3f3f3;
	padding-top: 20upx;
	.tab{
		background-color: #fff;
		box-shadow: 0 2px 3px -1px #e4e4e4;
		border-radius: 10upx 10upx 10upx 10upx;
		margin-bottom: 1px;
	}
	.massageList{
		
		
	}
}
  .page-title{
  text-align: center;
  font-size: 17px;
  padding: 10px 15px;
  position: relative;
}
.page-title:after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.list-item{
  position: relative;
  height: 220upx;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  list-style: none;
  margin-bottom: 10upx;
}
.list-item[data-type="0"]{
  transform: translate3d(0,0,0);
}
.list-item[data-type="1"]{
  transform: translate3d(-400upx,0,0);
}
.list-item:after{
  content: " ";
  position: absolute;
  left:0upx;
  bottom: 56upx;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.list-box{
 padding: 30upx;
 padding-top: 0;
 box-sizing: border-box;
  background: #fff;
  display: flex;
 
  -webkit-box-sizing: border-box;

  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.list-item .list-img{
	margin-top: 20upx;
  display: block;
  width: 100upx;
  height: 100upx;
  border-radius:50%; 
}
.list-item .list-content{
  padding: 20upx 0 20upx 20upx;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.list-item .title{
  display: block;
  color: #333;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-item .tips{
  display: block;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  line-height: 20px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.list-item .time{
  display: block;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 20upx;
  color: #666;
}
.list-item .delete{
  width: 200upx;
  height:220upx;
  background: #ff4949;
  font-size: 28upx;
  color: #fff;
  text-align: center;
  line-height: 220upx;
  position: absolute;
  top:0;
  right: -200upx;
}
.info{
	position: absolute;
	right: 30upx;
	bottom: 12upx;
	font-size: 24upx;
	color: #ffbd38;
}
.search-box {
  height: 100upx;
  width: 100%;
  background: #4191ea;
  display: flex;
  flex-flow: nowrap;
  .search-bg {
    box-sizing: border-box;
    height: 80upx;
    padding: 0 30upx;
    line-height: 80upx;
    width: 710upx;
    margin: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 40upx;
    color: #999;
    display: flex;
    flex-flow: nowrap;
    .search {
      flex: 1;
      height: 80upx;
      line-height: 80upx;
    }
    .iconfont {
      margin-left: 15upx;
    }
  }
}
.floating-menus {
  position: fixed;
  top: 0;
  right: 20upx;
  z-index: 10;
  opacity: 0;
  transition: all 0.4s;
  height: 0;
  overflow: hidden;
}
.floating-menus {
  &.show {
    opacity: 1;
    height: auto;
  }
  &.hidden {
    opacity: 0;
    height: 0;
  }
}