.SupplyDetails{
	width: 750upx;
	background-color: #f3f3f3;
	padding-top: 20upx;
	box-sizing: border-box;
	.SupplyBox{
		background-color: #fff;
		border-radius:20upx 20upx 0 0; 
		
		padding: 0 30upx;
		box-sizing: border-box;
		// 用户信息
		.SupplyBox-header{
			padding: 20upx 0;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			.header-left{
				img{
					width: 150upx;
					height: 150upx;
					border-radius: 20upx;
				}
			}
			.header-right{
				.subLeft{
					font-size: 28upx;
					font-weight: 600;
					color: #333333;
					letter-spacing: 5upx;
					.top{
						.iconfont{
							padding-left: 20upx;
							font-weight: 100;
							font-size: 28upx;
							color:#259bfe;
							letter-spacing: 0;
							
						}
						.iconfont2{
							font-size: 32upx;
							font-weight: 600;
						}
					}
					.bottom{
						
					}
				}
			}
		}
	}
}