.swiper-box{
		height: 400upx;
		.swiper-item{
			img{
				width: 750upx;
				height: 400upx;
			}
		}
	}
.tabConter{
	padding: 0 30upx;
	box-sizing: border-box;
	padding-bottom: 4upx;
	box-shadow: 0 8upx 10px -6px #e9e9eb;  
	border-radius: 0 0 10upx 10upx;
	background-color: #fff;
}
	// <!-- 供应商渠道 -->
.section{
	padding: 30upx 15upx;
	padding-bottom: 20upx;
	box-sizing: border-box;
	justify-content: space-between;
	display:flex;
	view{
		width: 49.5%;
		img{
			width: 100%;
			height: 236upx;
		}
	}
}
//商城早报
.MallnewsConnent{
	padding: 0upx 30upx;
	box-sizing: border-box;
	.MallnewsConnent{
		width: 100%;
		height: 60upx;
		background-color: #eeeeee;
		line-height: 60upx;
		padding: 0 20upx;
		box-sizing: border-box;
		display: flex;
		.swiper{
			width: 600upx;
			height: 60upx;
			margin-left: 30upx;
			.news{
				font-size: 28upx;
				color: #333333;
				font-weight: 600;
			}
		}
		.iconfont{
			color: #f9ce76;
		}
	}
}
// 供应推荐
.recommend{
	padding: 0 30upx;
	box-sizing: border-box;
	.recommend-top{
		display: flex;
		justify-content: space-between;
		padding: 30upx 0;
		box-sizing: border-box;
		view:nth-child(1){
			font-size: 28upx;
			font-weight: 600;
			color: #333333;
		}
		view:nth-child(2){
			font-size: 24upx;
			color: #6b6b6b;
		}
	}
	.recommend-body{
		.title{
			width: 100%;
			text-align: right;
			font-size: 28upx;
			font-weight: 600;
			padding-bottom: 20upx;
		
			text{
					padding-right: 100upx;
					box-sizing: border-box;
					letter-spacing: 5upx;
			}
		}
		.connent{
			width: 100%;
			display: flex;
			justify-content: flex-end;
			.subconnent{
				display: flex;
				justify-content: flex-end;
				width: 95%;
				height: 200upx;
				border-radius: 10upx;
				background-color: #fff;
				padding: 20upx 0;
				box-sizing: border-box;
				box-shadow: 0 3px 0 #f0f0f1,0 -3px 0 #f0f0f1;//底部阴影
			}
			.aderss{
				width: 66%;
				height:150upx;
				border:2upx solid skyblue;
			}
		}
	}
}
page{
	background-color: #fbfcff;
}