.swiper-box{
		height: 400upx;
		.swiper-item{
			img{
				width: 750upx;
				height: 400upx;
			}
		}
	}
.tabConter{
	padding: 0 30upx;
	box-sizing: border-box;
	padding-bottom: 4upx;
	box-shadow: 0 8upx 10px -6px #e9e9eb;  
	border-radius: 0 0 10upx 10upx;
	background-color: #fff;
}
	// <!-- 供应商渠道 -->
.section{
	padding: 30upx 15upx;
	padding-bottom: 20upx;
	box-sizing: border-box;
	justify-content: space-between;
	display:flex;
	view{
		width: 49.5%;
		img{
			width: 100%;
			height: 236upx;
		}
	}
}
//商城早报
.MallnewsConnent{
	padding: 0upx 30upx;
	box-sizing: border-box;
	.MallnewsConnent{
		width: 100%;
		height: 60upx;
		background-color: #eeeeee;
		line-height: 60upx;
		padding: 0 20upx;
		box-sizing: border-box;
		display: flex;
		.swiper{
			width: 600upx;
			height: 60upx;
			margin-left: 30upx;
			.news{
				font-size: 28upx;
				color: #333333;
				font-weight: 600;
			}
		}
		.iconfont{
			color: #f9ce76;
		}
	}
}
// 供应推荐
.recommend{
	padding: 0 30upx;
	box-sizing: border-box;
	.recommend-top{
		display: flex;
		justify-content: space-between;
		padding: 30upx 0;
		padding-bottom: 0;
		box-sizing: border-box;
		view:nth-child(1){
			font-size: 28upx;
			font-weight: 600;
			color: #333333;
		}
		view:nth-child(2){
			font-size: 24upx;
			color: #6b6b6b;
		}
	}
	.recommend-body{
		margin-top: 30upx;
		.title{
			width:60%;
		
			font-size: 28upx;
			font-weight: 600;
			padding-bottom: 20upx;
			 overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			margin-left:35%;
			text{
					padding-right: 88upx;
					box-sizing: border-box;
					letter-spacing: 5upx;
			}
		}
		.connent{
			width: 100%;
			display: flex;
			justify-content: flex-end;
			margin-bottom: 40upx;
			position: relative;
			.subconnent{
				display: flex;
				justify-content: flex-end;
				width: 95%;
				
				border-radius: 10upx;
				background-color: #fff;
				padding: 20upx 0;
				box-sizing: border-box;
				box-shadow: 0 2px 0 #f0f0f1,0 -2px 0 #f0f0f1;//底部阴影
			}
			.aderss{
				width: 70%;
				
			
				display: flex;
			
				box-sizing: border-box;
				position: relative;
				.aderss-top{
					color: #767676;
					margin-top: -10upx;
					
					.iconfont{
						vertical-align: middle;
					}
					
				}
				.aderss-body{
					width: 70%;
					color: #767676;
					font-size: 24upx;
					margin-left: 10upx;
					view:nth-child(1){
						margin-bottom:60upx; 
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;  // 控制多行的行数
						-webkit-box-orient: vertical;
						
					}
					.Pageview{
						
						color: #6b6b6b;
						.iconfont{
							display: inline-block;
							padding-right: 20upx;
							
						}
						.iconfont2{
							border-right: 2upx solid #d2d2d2;
						}
						.iconfont3{
							padding-left: 20upx;
						}
						
					}
				}
				.fitment{
					position: absolute;
					top: -20upx;
					right: 20upx;
					width: 40upx;
					text-align: center;
					font-size: 24upx;
					background-color: #eeeeee;
					padding: 10upx 0;
					box-sizing: border-box;
					border-radius:0 0 20upx 20upx; 
					color: #8e8e8e;
					height: 152upx;
				}
			}
			.ImgBox{
				position: absolute;
				top: -50upx;
				left: 0;
				img{
					width: 216upx;
					height: 224upx;
					border-radius: 20upx;
				}
			}
		}
	}
}
.recommend2{
	padding: 20upx 30upx;
	margin-top: 20upx;
	background-color: #fff;
	box-sizing: border-box;
	.recommend-body{
		margin-top: 0;
	}
}
.NoInfo{
	width: 85%;
	height: 720upx;
	margin-left: 10%;
}
page{
	background-color: #fbfcff;
}