.content {
		display: flex;
		flex-direction: column;
		justify-content:center;
	}
	.header {
		
		// background:rgba(63,205,235,1);
		// box-shadow:0upx 12upx 13upx 0upx rgba(63,205,235,0.47);
		// border-radius:50%;
		width: 750upx;
		margin-top: 80upx;
		display:flex;
		justify-content: space-around;
		.LogoBox{
			img{
				margin-left: 14upx;
				width:160upx;
				height:160upx;
				border-radius:20upx;
			}
			view{
				text-align: center;
				font-size: 24upx;
				color: #c2c2c2;
			}
		}
		
	}

	

	
	.list {
		display: flex;
		flex-direction: column;
		padding-top: 50upx;
		padding-left: 70upx;
		padding-right: 70upx;
	}
	.list-call{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100upx;
		color: #c2c2c2;
		border-bottom: 1upx solid rgba(230,230,230,1);
		position: relative;
	}
	.list-call .img{
		width: 40upx;
		height: 40upx;
	}
	.list-call input{
		flex: 1;
		text-align: left;
		font-size: 24upx;
		line-height: 100upx;
		margin-left: 16upx;
		color: #c2c2c2;
	}


	.dlbutton {
		color: #FFFFFF;
		font-size: 28upx;
		width:616upx;
		height:80upx;
		background:#ffbd38;
		box-shadow:0upx 0upx 13upx 0upx rgba(164,217,228,0.2);
		border-radius:10upx;
		line-height: 80upx;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100upx;
	}
	.dlbutton-hover {
		background:linear-gradient(-90deg,rgba(63,205,235,0.9),rgba(188,226,158,0.9));
	}
	.xieyi{
		display: flex;
		flex-direction: row;
		margin-left: 10%;
		font-size: 24upx;
		margin-top: 20upx;
		color: #989898;
		text-align: center;
		height: 40upx;
		line-height: 40upx;
		letter-spacing: 5upx;
	}
	.xieyi navigator{
				color: #ffcc71;
		
	}
	.partyLogin{
		width: 80%;
		margin: 0 auto;
		margin-top: 80upx;
		display: flex;
		view{
			height: 2upx;
			width: 45%;
			background-color: #e6e6e6;
			margin-top: 26upx;
		}
		text{
			color: #ffd17f;
			font-weight: 100;
			margin: 0 20upx;
		}
	}
	.ChatLogin{
		display: flex;
		
		width: 80%;
		margin: 0 auto;
		margin-top: 40upx;
		justify-content: space-between;
		view{
			width: 42%;
			line-height: 70upx;
			font-size: 24upx;
			color: #333333;
			border: 2upx solid  #e6e6e6;
			text-align: center;
			border-radius: 10upx;
		}
	}
	//协议
	.agreement{
		font-size: 24upx;
		width: 80%;
		text-align: center;
		color: #989898;
		margin: 0 auto;
		margin-top: 140upx;
		letter-spacing: 5upx;
	}
	.Btns{
		width: 176upx;
		text-align: center;
		background-color: #ffbd38;
		font-size: 24upx;
		border-radius:50upx; 
		height: 60upx;
		color: #fff;
		line-height: 60upx;
	}
